<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.campus.mapper.ActivitySignupMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into activity_signup (activity_id, user_id, signup_time)
        values (#{activityId}, #{userId}, #{signupTime})
    </insert>

    <select id="countByUserIdAndActivityId" resultType="java.lang.Integer">
        select count(1)
        from activity_signup
        where user_id = #{userId}
          and activity_id = #{activityId}
    </select>

</mapper>

